<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
        <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" requirePermission="true" />
        <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching" requirePermission="true" />
        <sectionGroup name="enyim.com">
            <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="ChartImageHandler" value="storage=file;timeout=20;url=~/App_File/Temp/;" />
        <add key="UnityContainerName" value="oracle" />
    </appSettings>
    <connectionStrings>
        <clear />
        <!--<add connectionString="Server=127.0.0.1;Database=CurrencyStore;Uid=root;Pwd=root;default command timeout=100;Charset=utf8" name="CurrencyStore" providerName="MySql.Data.MySqlClient"/>-->
        <!--<add connectionString="Server=172.18.13.35;Database=CurrencyStore;Uid=root;Pwd=root;default command timeout=100;CharSet=utf8;" name="CurrencyStore" providerName="MySql.Data.MySqlClient"/>-->
        <!--<add connectionString="Server=devserver;Database=CurrencyStore;Uid=root;Pwd=root;default command timeout=100;CharSet=utf8;" name="CurrencyStore" providerName="MySql.Data.MySqlClient" />-->
        <add connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.18.12.199)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=oracle)));User Id=cs;Password=123;Max Pool Size=100;Min Pool Size=10;Pooling=True;Connection Lifetime=120;Connection Timeout=60;Incr Pool Size=5;Decr Pool Size=2;" name="CurrencyStore" providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <clear />
            <add name="MySql" invariant="MySql.Data.MySqlClient" description="MySQL Data Provider for .NET" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data" />
            <add name="Oracle" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
        </DbProviderFactories>
    </system.data>
    <enyim.com>
        <memcached>
            <servers>
                <add address="127.0.0.1" port="11211" />
                <!--<add address="192.168.2.202" port="11211" />
                <add address="192.168.2.204" port="11211" />-->
            </servers>
            <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
        </memcached>
    </enyim.com>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <assembly name="CurrencyStore.Services" />
        <assembly name="CurrencyStore.Services.Interface" />
        <assembly name="CurrencyStore.Repository" />
        <container name="mysql">
            <register type="CurrencyStore.Services.Interface.IBasicService, CurrencyStore.Services.Interface" mapTo="CurrencyStore.Services.BasicService, CurrencyStore.Services" />
            <register type="CurrencyStore.Services.Interface.ICurrencyService, CurrencyStore.Services.Interface" mapTo="CurrencyStore.Services.CurrencyService, CurrencyStore.Services" />
            <register type="CurrencyStore.Services.Interface.IDeviceService, CurrencyStore.Services.Interface" mapTo="CurrencyStore.Services.DeviceService, CurrencyStore.Services" />
            <register type="CurrencyStore.Services.Interface.IUserService, CurrencyStore.Services.Interface" mapTo="CurrencyStore.Services.UserService, CurrencyStore.Services" />
            <register type="CurrencyStore.Services.Interface.IStatService, CurrencyStore.Services.Interface" mapTo="CurrencyStore.Services.StatService, CurrencyStore.Services" />
            <register type="CurrencyStore.Repository.IBasicDictionaryRepository" mapTo="CurrencyStore.Repository.MySql.BasicDictionaryRepository" />
            <register type="CurrencyStore.Repository.IBasicOrganizationRepository" mapTo="CurrencyStore.Repository.MySql.BasicOrganizationRepository" />
            <register type="CurrencyStore.Repository.IBasicParameterRepository" mapTo="CurrencyStore.Repository.MySql.BasicParameterRepository" />
            <register type="CurrencyStore.Repository.ICurrencyBlacklistRepository" mapTo="CurrencyStore.Repository.MySql.CurrencyBlacklistRepository" />
            <register type="CurrencyStore.Repository.ICurrencyExportRepository" mapTo="CurrencyStore.Repository.MySql.CurrencyExportRepository" />
            <register type="CurrencyStore.Repository.ICurrencyInfoRepository" mapTo="CurrencyStore.Repository.MySql.CurrencyInfoRepository" />
            <register type="CurrencyStore.Repository.ICurrencyStatInfoRepository" mapTo="CurrencyStore.Repository.MySql.CurrencyStatInfoRepository" />
            <register type="CurrencyStore.Repository.IDeviceInfoRepository" mapTo="CurrencyStore.Repository.MySql.DeviceInfoRepository" />
            <register type="CurrencyStore.Repository.IDeviceConnectionRepository" mapTo="CurrencyStore.Repository.MySql.DeviceConnectionRepository" />
            <register type="CurrencyStore.Repository.IDeviceStatInfoRepository" mapTo="CurrencyStore.Repository.MySql.DeviceStatInfoRepository" />
            <register type="CurrencyStore.Repository.IOrganizationStatInfoRepository" mapTo="CurrencyStore.Repository.MySql.OrganizationStatInfoRepository" />
            <register type="CurrencyStore.Repository.IOrganizationStatDetailInfoRepository" mapTo="CurrencyStore.Repository.MySql.OrganizationStatDetailInfoRepository" />
            <register type="CurrencyStore.Repository.IUserInfoRepository" mapTo="CurrencyStore.Repository.MySql.UserInfoRepository" />
            <register type="CurrencyStore.Repository.IUserLoginRepository" mapTo="CurrencyStore.Repository.MySql.UserLoginRepository" />
            <register type="CurrencyStore.Repository.IUserPermissionRepository" mapTo="CurrencyStore.Repository.MySql.UserPermissionRepository" />
            <register type="CurrencyStore.Repository.IUserRolePermissionRepository" mapTo="CurrencyStore.Repository.MySql.UserRolePermissionRepository" />
            <register type="CurrencyStore.Repository.IUserRoleRepository" mapTo="CurrencyStore.Repository.MySql.UserRoleRepository" />
        </container>
        <container name="oracle">
            <register type="CurrencyStore.Services.Interface.IBasicService, CurrencyStore.Services.Interface" mapTo="CurrencyStore.Services.BasicService, CurrencyStore.Services" />
            <register type="CurrencyStore.Services.Interface.ICurrencyService, CurrencyStore.Services.Interface" mapTo="CurrencyStore.Services.CurrencyService, CurrencyStore.Services" />
            <register type="CurrencyStore.Services.Interface.IDeviceService, CurrencyStore.Services.Interface" mapTo="CurrencyStore.Services.DeviceService, CurrencyStore.Services" />
            <register type="CurrencyStore.Services.Interface.IUserService, CurrencyStore.Services.Interface" mapTo="CurrencyStore.Services.UserService, CurrencyStore.Services" />
            <register type="CurrencyStore.Services.Interface.IStatService, CurrencyStore.Services.Interface" mapTo="CurrencyStore.Services.StatService, CurrencyStore.Services" />
            <register type="CurrencyStore.Repository.IBasicDictionaryRepository" mapTo="CurrencyStore.Repository.Oracle.BasicDictionaryRepository" />
            <register type="CurrencyStore.Repository.IBasicOrganizationRepository" mapTo="CurrencyStore.Repository.Oracle.BasicOrganizationRepository" />
            <register type="CurrencyStore.Repository.IBasicParameterRepository" mapTo="CurrencyStore.Repository.Oracle.BasicParameterRepository" />
            <register type="CurrencyStore.Repository.ICurrencyBlacklistRepository" mapTo="CurrencyStore.Repository.Oracle.CurrencyBlacklistRepository" />
            <register type="CurrencyStore.Repository.ICurrencyExportRepository" mapTo="CurrencyStore.Repository.Oracle.CurrencyExportRepository" />
            <register type="CurrencyStore.Repository.ICurrencyInfoRepository" mapTo="CurrencyStore.Repository.Oracle.CurrencyInfoRepository" />
            <register type="CurrencyStore.Repository.ICurrencyStatInfoRepository" mapTo="CurrencyStore.Repository.Oracle.CurrencyStatInfoRepository" />
            <register type="CurrencyStore.Repository.IDeviceInfoRepository" mapTo="CurrencyStore.Repository.Oracle.DeviceInfoRepository" />
            <register type="CurrencyStore.Repository.IDeviceConnectionRepository" mapTo="CurrencyStore.Repository.Oracle.DeviceConnectionRepository" />
            <register type="CurrencyStore.Repository.IDeviceStatInfoRepository" mapTo="CurrencyStore.Repository.Oracle.DeviceStatInfoRepository" />
            <register type="CurrencyStore.Repository.IOrganizationStatInfoRepository" mapTo="CurrencyStore.Repository.Oracle.OrganizationStatInfoRepository" />
            <register type="CurrencyStore.Repository.IOrganizationStatDetailInfoRepository" mapTo="CurrencyStore.Repository.Oracle.OrganizationStatDetailInfoRepository" />
            <register type="CurrencyStore.Repository.IUserInfoRepository" mapTo="CurrencyStore.Repository.Oracle.UserInfoRepository" />
            <register type="CurrencyStore.Repository.IUserLoginRepository" mapTo="CurrencyStore.Repository.Oracle.UserLoginRepository" />
            <register type="CurrencyStore.Repository.IUserPermissionRepository" mapTo="CurrencyStore.Repository.Oracle.UserPermissionRepository" />
            <register type="CurrencyStore.Repository.IUserRolePermissionRepository" mapTo="CurrencyStore.Repository.Oracle.UserRolePermissionRepository" />
            <register type="CurrencyStore.Repository.IUserRoleRepository" mapTo="CurrencyStore.Repository.Oracle.UserRoleRepository" />
        </container>
    </unity>
    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="WCF">
        <listeners>
            <add name="app" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
              fileName="log\app.log" formatter="full" rollInterval="Day"
              rollSizeKB="2048" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
            <add name="trace" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
              fileName="log\trace.log" footer="" formatter="simply"
              header="" rollInterval="Day" rollSizeKB="2048" traceOutputOptions="DateTime" />
            <add name="data" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
              fileName="log\data.log" footer="" formatter="simply"
              header="" rollInterval="Day" rollSizeKB="2048" traceOutputOptions="DateTime" />
            <add name="script" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
             listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
             fileName="log\script.log" footer="" formatter="simply"
             header="" rollInterval="Day" rollSizeKB="2048" traceOutputOptions="DateTime" />
        </listeners>
        <formatters>
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
              template="Timestamp: {timestamp(yyyy-MM-dd HH:mm:ss)}{newline}Message: {message}{newline}"
              name="full" />
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        template="{timestamp(yyyy-MM-dd HH:mm:ss)}:{message}" name="simply" />
        </formatters>
        <categorySources>
            <add switchValue="All" name="app">
                <listeners>
                    <add name="app" />
                </listeners>
            </add>
            <add switchValue="Off" name="trace">
                <listeners>
                    <add name="trace" />
                </listeners>
            </add>
            <add switchValue="Off" name="script">
                <listeners>
                    <add name="script" />
                </listeners>
            </add>
            <add switchValue="All" name="data">
                <listeners>
                    <add name="data" />
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events" />
            <notProcessed switchValue="All" name="Unprocessed Category" />
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="app" />
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
    <exceptionHandling>
        <exceptionPolicies>
            <add name="Global">
                <exceptionTypes>
                    <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="None">
                        <exceptionHandlers>
                            <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" logCategory="app" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" />
                        </exceptionHandlers>
                    </add>
                </exceptionTypes>
            </add>
        </exceptionPolicies>
    </exceptionHandling>
    <cachingConfiguration defaultCacheManager="default">
        <cacheManagers>
            <add name="default" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              expirationPollFrequencyInSeconds="1" maximumElementsInCacheBeforeScavenging="1000"
              numberToRemoveWhenScavenging="2" backingStoreName="inMemory" />
        </cacheManagers>
        <backingStores>
            <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              name="inMemory" />
        </backingStores>
    </cachingConfiguration>
    <system.web>
        <httpHandlers>
            <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              validate="false" />
            <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              validate="false" />
        </httpHandlers>
        <httpRuntime maxRequestLength="50485760" executionTimeout="3600" maxQueryStringLength="500" requestValidationMode="2.0" />
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
            </assemblies>
            <buildProviders>
                <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </buildProviders>
        </compilation>
        <authorization>
            <deny users="?" />
        </authorization>
        <authentication mode="Forms">
            <forms protection="Encryption" loginUrl="~/App_Page/Service/Login.aspx" name=".CurrencyStoreAth" />
        </authentication>
        <pages validateRequest="false">
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
                <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
            </controls>
        </pages>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <remove name="ChartImageHandler" />
            <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </handlers>
    </system.webServer>
    <location path="Default.aspx" allowOverride="false">
        <system.web>
            <authorization>
                <allow users="*" />
                <allow users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="favicon.ico" allowOverride="false">
        <system.web>
            <authorization>
                <allow users="*" />
                <allow users="?" />
            </authorization>
        </system.web>
    </location>
</configuration>