<?xml version="1.0"?>
<configuration>
    <location path="Css" allowOverride="false">
        <system.web>
            <authorization>
                <allow users="*"/>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Image" allowOverride="false">
        <system.web>
            <authorization>
                <allow users="*"/>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Script" allowOverride="false">
        <system.web>
            <authorization>
                <allow users="*"/>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Login.aspx" allowOverride="false">
        <system.web>
            <authorization>
                <allow users="*"/>
                <allow users="?"/>
            </authorization>
        </system.web>
    </location>
</configuration>
